# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
ENV/
env/
.venv/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Django
*.log
*.pot
*.pyc
db.sqlite3
/staticfiles/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# node
node_modules/
